.custom-logo {
  width: 100%;
}

#banner {
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/02/50/63/71577e1cf59d802.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.section {
  width: auto;
  height: 60vh;
}

#Lucia {
  background-color: lightgray;
}

#Rasto {
  background-color: white;
}
