<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 footer--copyright">
        &copy; {{ test | date: "yyyy" }} made by Lucia Centárová & Rastislav
        Hrompa
      </div>
      <div class="col-6 footer--social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
      </div>
    </div>
  </div>
</footer>
